@keyframes blink {
  0%,
  86%,
  100% {
    transform: scaleY(0);
  }
  90% {
    transform: scaleY(1);
  } /* 완전 감김 */
  94% {
    transform: scaleY(1);
  } /* 잠깐 유지 */
}

@media (prefers-reduced-motion: reduce) {
  .blink-eyelid {
    animation: none !important;
  }
}
