@import "tailwindcss";

@theme {
  --color-bg: #ffffff; /* 페이지 배경 */
  --color-fg: #111827; /* 본문 글자(= gray-900) */
  --color-surface: #000000; /* 헤더 배경(진회색) */
  --color-muted: #000000; /* 보조 텍스트(= gray-500) */

  --radius-xl: 9999px;
}

body {
  @apply bg-bg text-fg;
}
